{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username">


        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="{{ path('home') }}">
        <button type="submit" name="login">Login</button>
    </form>
{% endblock %}