{% extends 'base.html.twig' %}

{% block title %}Vartotojų prisijungimas{% endblock %}

{% block body %}

    <div class="container" style="width: 50%; padding: 90px">
        <h2>Vartotojų prisijungimas</h2>

    <form action="{{ path('login') }}" method="post">
        {{ form_widget(login_form) }}
        <button class="btn btn-primary" name="login" type="submit" formnovalidate>{{ button_label|default('Prisijungti') }}</button>
        <p>Esate naujas vartotojas? <a href="{{ path('registration') }}">Registruokitės.</a></p>
    </form>
    </div>
    <i class="fas fa-paw fa-4x" style="color: darkred; position: fixed;
    bottom: 20px; right: 20px;"></i>
    </div>



{% endblock %}
