<style>
    #hero {
        background-image: url("../images/dogs-banner.jpg");
        background-size: cover;
        /*background-size: 100%;*/
        background-position: center;
        background-repeat: no-repeat;
        height: 320px;
    }
    #about {
        max-width: 900px;
        margin: 30px auto;
        font-family: 'Quicksand', sans-serif;
        background-color: #fff;
        line-height: 1.6; }
    #about .text-about {
        text-align: center;
        padding: 35px; }
    #about h1 {
        font-size: 45px;
        font-family: 'Pacifico', cursive;
        margin-bottom: 40px;
    }
    #about .skills-about {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 40px 0 30px 0; }
    #about .skills-about .box {
        width: 200px;
        padding: 5px;
        text-align: center;
        font-size: 15px; }
    article {
        padding-bottom: 40px;
    }
    #about h4 {
        font-family: 'Pacifico', cursive;
        padding: 10px;
    }
    @media only screen and (max-width: 550px) {
        #about {

        }
        .text-about #text-about {
            margin: 10px;
            font-size: 14px;
            padding: 10px;
        }
        #about h1 {
            font-size: 20px; }
        #about .box {
            margin: auto;
            align-items: center;
            font-size: 12px; }
        .skills-about h4 {
            font-size: 18px;}
        }
</style>

<section id="hero">
</section>

<section id="about">
    <article class="text-about">
        <h1>Gyvūnų globos namai "Bobikas"</h1>
        <p id = "text-about">Prieglaudos veikla/misija beglobių gyvūnų gelbėjimas, jų gydymas, globa iki padovanojimo,
            atsakingų šeimininkų paieška, beglobių gyvūnų mažinimas humaniškais būdais (sterilizacija, kastracija),
            visuomenės švietimas dėl žiauraus elgesio su gyvūnais bei beglobių gyvūnų skaičiaus mažinimo klausimais (ekskursijos prieglaudoje, pristatymai, dalyvavimas masiniuose renginiuose).<br>
        </p>
        <span> Su mumis galite susiekti telefonu <b>8 987 654321</b> arba apsilankyti adresu Gedimino pr. 21, Vilnius</span>
    </article>
    <article class="skills-about">
        <div class="box">
            <i class="fas fa-donate fa-4x" style="color: dodgerblue"></i>
            <h4>Paremkite gerus darbus</h4>
        </div>
        <div class="box">
            <i class="fas fa-heart fa-4x" style="color: red"></i>
            <h4>Padovanok mylinčius namus</h4>
        </div>
        <div class="box">
            <i class="fas fa-paw fa-4x" style="color: orange"></i>
            <h4>Mūsų globotiniai</h4>
        </div>
        <div class="box">
            <i class="fas fa-hands-helping fa-4x" style="color: lightseagreen"></i>
            <h4>Prisidėk savanoriaudamas</h4>
        </div>
    </article>
</section>