<style>
    #hero {
        background-image: url("../images/dogs-banner.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 320px;
    }
    #about {
        max-width: 900px;
        margin: 30px auto;
        font-family: 'Quicksand', sans-serif;
        background-color: #fff;
        line-height: 1.6; }
    #about .text-about {
        text-align: center;
        padding: 35px; }
    #about h1 {
        font-size: 45px;
        font-family: 'Pacifico', cursive;
        margin-bottom: 40px;
    }
    #about .skills-about {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 40px 0 30px 0; }
    #about .skills-about .box {
        width: 200px;
        padding: 5px;
        text-align: center;
        font-size: 15px; }
    article {
        padding-bottom: 40px;
    }
    #about h4 {
        font-family: 'Pacifico', cursive;
        padding: 10px;
    }
    @media only screen and (max-width: 550px) {
        #about {

        }
        .text-about #text-about {
            margin: 10px auto;
            font-size: 14px; }
        #about h1 {
            font-size: 20px; }
        #about .box {
            margin: auto;
            align-items: center;
            font-size: 12px; }
        .skills-about h4 {
            font-size: 18px;}
        }
</style>

<section id="hero">
</section>

<section id="about">
    <article class="text-about">
        <h1>Gyvūnų gelbėjimo tarnyba "Bobikas"</h1>
        <p id = "text-about">Cat ipsum dolor sit amet, fish i must find my red catnip fishy fish.
            Cough furball cat cat moo moo lick ears lick paws stand in doorway, unwilling to chose whether to stay in or go out stretch, so burrow under covers wake up human for food at 4am.
            Bathe private parts with tongue then lick owner's face immediately regret falling into bathtub so cat fur is the new black.
            Love you, then bite you sit on the laptop hide at bottom of staircase to trip human.</p>
        <span> Mus galite rasti: Viniuje, Kaune ir Klaipėdoje.</span>
    </article>
    <article class="skills-about">
        <div class="box">
            <i class="fas fa-donate fa-4x" style="color: dodgerblue"></i>
            <h4>Paremkite gerus darbus</h4>
        </div>
        <div class="box">
            <i class="fas fa-heart fa-4x" style="color: red"></i>
            <h4>Padovanok mylinčius namus</h4>
        </div>
        <div class="box">
            <i class="fas fa-paw fa-4x" style="color: orange"></i>
            <h4>Mūsų globotiniai</h4>
        </div>
        <div class="box">
            <i class="fas fa-hands-helping fa-4x" style="color: lightseagreen"></i>
            <h4>Prisidėk savanoriaudamas</h4>
        </div>
    </article>
</section>