{% extends 'base.html.twig' %}

{% block title %}Koreguoti gyvūną{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/2.1.0/bootstrap-filestyle.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Koreguoti gyvūną</h1>

        {{ include('animal/_form.html.twig', {'button_label': 'Išsaugoti'}) }}

        <a href="{{ path('animal_index') }}" role="button" class="btn btn-sm btn-primary active">Grįžti į sąrašą</a>

        {{ include('animal/_delete_form.html.twig') }}
    </div>
{% endblock %}