{% extends 'base.html.twig' %}

{% block title %}Susisiekti{% endblock %}

{% block body %}
    <h1>Siųsti žinutę</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" formnovalidate>{{ button_label|default('Siųsti') }}</button>
    {{ form_end(form) }}
{% endblock %}