{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <style>
        .container-fluid{
            padding: 70px;
            max-width: 90%;
        }
    </style>
    <div class="container-fluid">
    <h1>Kurti naują vartotoją</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Grįžti į sąrašą</a>
    </div>
{% endblock %}